html {
    font-size: 16px;
}

body {
    margin: 1em;
    text-align: center;
    color: #360;
}

section {
    min-width: 900px;
    font-family: Courier
}

#monkeys {
    width: 500px;
    margin: 0 auto;
}

#monkeys div {
    width: 210px;
    height: 210px;
    background-color: #630;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 1em;
    padding: 0;
    display: inline-block;
}

.SeeNoEvil { background-image: url(../img/seenoevil.png); }
.HearNoEvil { background-image: url(../img/hearnoevil.png); }
.SpeakNoEvil { background-image: url(../img/speaknoevil.png); }


