body {background-color: grey;}

#wrapper {background-color: white;
	margin: auto;
	text-align: center;
	width: 50%;
	min-width: 955px;
	box-shadow: 4px 4px 4px black;
	}

div {border: 2px solid black;
	float: left;
	margin: 5px 5px 25px 25px;}

footer {font-size: 15px;}

#flip {clear: both;}

#block1 {background-color: black;
	width: 200px;
	height: 200px;}

#block2 {background-color: black;
	width: 200px;
	height: 200px;}

#block3 {background-color: black;
	width: 200px;
	height: 200px;}

#block4 {background-color: black;
	width: 200px;
	height: 200px;}

#block5 {background-color: black;
	width: 200px;
	height: 200px;}

#block6 {background-color: black;
	width: 200px;
	height: 200px;}

#block7 {background-color: black;
	width: 200px;
	height: 200px;}

#block8 {background-color: black;
	width: 200px;
	height: 200px;}

#btn {font-size: 10px;}